/* ********* */
/* @GRID*/
/* ********* */


// Dividimos la pantalla con un grid de 3x2
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr auto;
    row-gap: 40px;
    column-gap: 20px;
    justify-items: center;
}